@media (min-width: 1920px) and (max-width: 2560px)  {
    .Left-content {
        width: 39%;
    }
    .top-path {
        left: 16.2%;
    }
    .plane-img {
        max-width: 100%;
        margin-top: -20%;
    }

/* ------------------Our Solution Page----------- */
.partner-img {
    right: -110px;
}

}

@media (min-width: 1480px) and (max-width: 1900px)  {
/* ------------------Our Solution Page----------- */
.partner-img {
    right: -110px;
}

}


/* (1440x900) WXGA+ Display */
@media  screen and (max-width: 1440px) {
    span.borderL {
        left: 167px;
    }
    span.borderR {
        right: 166px;
    }
    /* insert styles here */
    .h-our-service-info,
    .LEFT-list {
        width: 572px;
    }
    .inner-container-box {
        padding: 20px 20px 10px 60px;
    }
    .why-essar-enery-tab .WE-txt {
        width: 90%;
    }
    /* span.borderR {
        right: -3%;
    }
    span.borderL {
        left: 22.5%;
    } */
    /* .inner-green-section {
        padding: 69px 69px 38px 128px;
    } */
.brand-video-area .container,
.Green-future-section .container,
.inner_industries_container{
    padding: 0 15px;
}

/* --------Our Solution page--------------- */
.why_container.our_strategic-container .left.LEFT-list {
    width: 595px;
}
.partner-img {
    right: -100px;
}
.partnership-section.green_ammonia_cta .partner-img {
    right: -40px;
}
.methanol img.partner-img {
    right: -60px;
}

}


/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    .top-path {
        left: 13%;
    }
    .bottom-path {
        right: 17.9%;
    }
    
    /*.container {
        max-width: 1332px;
        min-width: auto;
        margin: 0 auto;
        position: relative;
    }*/
    .inner-container-box {
      
        padding: 20px 20px 12px 55px;
    }
    .h-our-service-section .container-space {
        padding-left: 51px;
    }
    .Left-content {
        width: 43%;
        
    }
    .container .EFE-Left-area .EFE-content {
        padding-left: 57px;
    }
    .EFE-Midd-area .EFE-content p {
        padding: 16px 0px 0 0px;
    }
    /* .inner-container-space {
        padding: 0 20px;
    } */
    .Left-content p{
        width: 390px;
    }
    /* .inner-green-section {
        padding: 69px 69px 69px 81px;
    } */
    span.borderL {
        left: 165px;

    }
    span.borderR {
        right: 165px;
    }
    .banner-textarea {
        overflow: hidden;
        padding: 40px 0 0 0;
    }
    .banner-right-path { 
        top: 32%;
    }
    .inner-green-section {
        padding: 69px 69px 55px 58px;
    }

/* --------------SAF Page------------- */
/* ---------------About Us----------------- */

.Right_leadertext p {
    margin-top: 15px;
}    



}



/*1280 x 800*/
@media screen and (max-width: 1280px) and (max-height: 800px) and (min-height: 769px) {
    
    .banner-textarea {
        overflow: hidden;
        padding: 50px 0 0 0;
    }
    .banner-left-path {
        left: -64px;
    }
    .h-our-service-info {
        width: 560px;
    }
   
    
    .h-our-service-info-title {
        width: 100% !important;
    }
    .item5 {
        right: 1%;
    }
    .LEFT-list {
        width: 530px;
    }
    
    .h-our-service-info {
        width: 50%;
    }
    .EFE-Midd-area .EFE-content p {
        padding: 16px 0px 0 0px;
    }
    .item1 {
        left: 0%;
    }
    .footer-col-3 {
        width: 34%;
    }
    .footer-col-1 {
        width: 187px;
    }
    .ipad-b{
        display: none;
    }

}



@media screen and (min-width: 800px) and (max-width: 1280px) {
    /* ADD YOUR CSS ADJUSTMENTS BELOW HERE */
    .count-box {
        margin: 0 16.1px;
    }
    .why-essar-enery-tab li {
        width: 100%;
    }
    .banner-textarea {
        padding: 42px 0 0 0;
    }
    .imagerevealRight img.desk-b {
        display: none;
    }
    .imagerevealRight img.ipad-b {
        display: block;
    }
    .banner-left-path {
        left: 0px;
        top: -75px;
    }
    .inner-container-box {
        padding: 16px 16px 16px 20px;
    } 
    .LEFT-list {
        width: 595px;
        float: left;
        padding: 48px 0 0 0;
    }
    .h-our-service-info {
        width: 565px;
    }
    .resp-tab-item.active .WE-txt p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 0;
    }
    .WEF-title h3 {
        font-size: 40px;
        line-height: 48px;
    }
    .ab-img-right img.layer {
        width: 180px;
    }
    .top-path {
        left:121px;
    }
    .bottom-path {
        right: 212px;
    }
    .EFE-Midd-area .EFE-content h4 {
        line-height: 70px;
    }
    .container .EFE-Left-area .EFE-content {
        padding-left: 26px;
    }
    .EFE-Left-area .EFE-content h4 {
        padding-right: 54px;
    }
    .ab-img-right {
        bottom: 10px;
    }
    .WE-title h3 {
        font-size: 20px;
        line-height: 28px;
    }
    span.borderL, span.borderR {
        /* width:100%; */
    }
    span.borderL {
        left: 135px;
    }
    span.borderR {
        right: 128px;
    }
    .NR-content {
        padding: 20px 25.2px;
    }
    .Left-content h2, .Left-content h2 span.gradient-font {
        font-size: 60px;
        line-height: 68px;
    }
   
    nav .navbar .links li {
        /* padding: 0 10px; */
    }
    .banner-textarea h2.right-path::after {
        /* right: -50px; */
    }
    .footer-col-3 {
        width: 330px;
    }
    .socio-img img {
        width: 32px;
    }
    /* ---------------About us-------------- */
    .inner-container2 {
        /* max-width: 1170px;margin: 0; */
    }
    .leadership {
        padding: 0 16px;
    }
/* --------------Our Solution Page---------------- */
.item_saf {
    width: 100%;
}
.our-solution-section {
    padding: 32px 50px 100px 50px;
}



}

/* Portrait */
@media only screen and (min-width: 1024px)  and (max-height: 1366px)  and (orientation: portrait)  and (-webkit-min-device-pixel-ratio: 1.5) {

    section.Essar-future-energy-section {
        margin: 5px 0 20px 0;
        width: 100%;
        display: inline-block;
    }
    .EFE-Midd-area {
        width: 38%;
    }
    .EFE-Midd-area .EFE-content {
        padding: 0 36px;
    }
    .EFE-Left-area {
        width: 300px;
    }
    .container .EFE-Left-area .EFE-content {
        padding-left: 20px;
    }
    .EFE-Right-area {
        width: 300px;
    }
    .EFE-Right-area .EFE-content {
        padding-left: 20px;
    }
    .EFE-content {
        min-height: 130px;
    }
    .mar-R {
        margin-right: 80px;
    }
    .Right-content img {
        left: -160%;
    }
    span.borderL {
        left: 70px;
    }
    span.borderR {
        right: 70px;
    }


    /* ----------SAF PAGE-------------- */
.browse-solutions .solutions-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .inner-container2 {
        padding: 0 32px;
    }
    .banner-textarea p {
        letter-spacing: -0.4px;
        font-size: 18px;
        line-height: 24px;
    }
    .para-button-area {
        margin-top: 0;
    }
    .para-button-area {
        display: inline-block;
    }
    .para-button-area a {
        margin-top: 40px;
        float: left;
    }
    .paragraph {
        width:100%;
    }
    .story-button {
        width: 100%;
    }
    .right-tbp-area {
        width: 36.1%;
        float: left;
        margin-right: 40px;
    }
    .banner-textarea h2.left-path::before {
        left: -17%;
    }
    .banner-textarea h2.right-path::after {
        width: 220px;
        top: 57px;
    }
    .WEF-title {
        margin-bottom: 24px;
    }
    .WE-title h3 {
        font-size: 20px;
        letter-spacing: -0.4px;
    }
    .why-essar-enery-tab li {
        padding: 0 0 12px 0;
        margin: 0 0 12px 0;
    }
    .resp-tab-item.active .WE-txt p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }
    .Ellipse svg
     {
        display: none;
    }
    .Right-content img {
        transform: scale(5);
        /* top: -160%; */
        bottom: 145%;
        left: -180%;
    }
    .footer-col-3 span {
        float: none;
    }
    .footer-col-2 {
        padding-left: 5px;
    }
    .footer-col-1 {
        padding-left: 0;
    }
    .socio-text{
        display: none;
    }
    .footer-col-1, .footer-col-3 {
        width: 50%;
    }
    .footer-col-3 span.design-by {
        margin-left: 7px;
    }
    
    .right-tbp-area {
        width: 100%;
    }
    .left-tbp-area {
        width: 583px;
    }
    .right-tbp-area p {
        font-size: 20px;
        line-height: 28px;
        padding-left: 0;
        margin-top: 32px;
        letter-spacing: -0.4px;
    }
    .h-our-service-section .container-space {
        padding-left: 40px;
    }
    .top-ab-area {
        padding: 64px 0px;
    }
    .container-space {
        padding-left: 15px;
        padding-right: 15px;
    }
    .right-tbp-area {
        width:61.7%;
    }
    .ab-img-right img{
        height: 241px;
    }
    .chart-tbox h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .chart-txt {
        line-height: 20px;
        font-size: 14px;
        padding: 15px 14px;
    }
    .count-box {
        margin: 0 10px;
        width: 22%;
    }
    .container-space {
        padding-left: 0;
        padding-right: 0;
    }
    /* .chart-tbox {
        padding: 15px 16px;
        
    } */
    .why-essar-enery-tab {
        width: 100%;
        display: block;
    }
    .accordion-item:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .count-box:first-child{
        margin:0 14px 0 0;
    }
    .count-box:nth-child(4){
        margin:0 0px 0 14px;
    }
    .EFE-content h4 {
        font-size: 24px;
        line-height: 32px;
    }
    .EFE-Left-area {
         padding: 31px 0px 18px 0; 
        width: 236px;
        letter-spacing: -0.5px;
        border-radius: 0px 32px 32px 0px;
    }
    .EFE-Left-area .EFE-content p {
        padding: 0;
        width: 162px;
        line-height: 20px;
        font-size: 14px;
        letter-spacing: -0.1px;
       
    }
    .EFE-Midd-area .EFE-content p {
        letter-spacing: -0.1px;
        margin: 0 auto;
        width: auto;
        padding: 0;
        font-size: 14px;
        line-height: 20px;
    }
    .EFE-Right-area {
        /* padding: 24px; */
        width: 226px;
        border-radius: 32px 0px 0px 32px;
    }
    .EFE-Right-area .EFE-content p {
        padding: 8px 0 0 0;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.1px;
        width: 178px;
    }
    .EFE-Midd-area .EFE-content h4 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.7px;
        margin: 8px 0;
    }
    .EFE-content {
        min-height: auto;
    }
    .container .EFE-Left-area .EFE-content {
        padding-left: 13px;
    }
    .EFE-Right-area .EFE-content {
        padding-left: 20px;
    }
    .CEC-title {
        font-size: 12px;
    }
    .EFE-Midd-area {
        width:38%;        top: -24px;
    }
   
   
    .top-path img {
        width: 270px;
    }
    .bottom-path img {
        width: 270px;
    }
    .bottom-path {
        right: 15.4%;
    }

    .top-OS-title-area p {
        font-size: 16px;
        line-height: 24px;
        padding: 0;
    }
    .top-OS-title-area h3 {
        font-size: 36px;
        line-height: 44px;
        padding: 0 6%;
        letter-spacing: -1.1px;
    }
    .our-solution-btn {
        width: 156px;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        letter-spacing: -0.1px;
    }
    .mask.desk {
        display: block;
        text-align: center;
    }
    .mask.mobi {
        display: none;
    }
    .half-circle-txt .item::after {
        background: url(../images/mobile-path.png) repeat-x;
        content: "";
        width: 29px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(52%, -110%);
        height: 4px;
    }
    .half-circle-txt .item:last-child:after {
        display: none;
     }
     .half-circle-txt::after{
        display: none;
     }
    .item {
        position: relative;
        display: inline-block;
        width: auto;
        margin: 0 15px;
    }
    .item1, .item2, .item3, .item4, .item5{
        top: 0;
        left: 0;
        padding: 0;
        margin-top: 20px;
    }
    span.title-txt {
        display: none;
    }
    .half-circle-txt {
        text-align: center;
        margin-bottom: 25px;
        z-index: 5;
        position: relative;
        margin-top: 20px;
    }
    .mask {
        bottom: -27%;
        width: 100%;
    }
    .circle-section {
        min-height: auto;
    }
    .center {
        position: relative;
    border-radius: 32px 32px 0px 0px;
    padding: 64px 30px 20px 30px;
    min-height: 230px;

    }
    .center p{
        letter-spacing: -0.2px;
        font-size: 16px;
    }
    span.borderR {
        right: -60px;
    }
    span.borderL {
        left: -60px;
    }
   
    .inner-container-space {
        padding: 16px;
    }
    .brand-video-area .container, .Green-future-section .container {
        padding: 0 0px;
    }
    .Left-content .Gbutton-box {
        padding: 0 20px 13px 0px;
    }
    section.NewsRoom-section {
        padding: 32px 0;
    }
    .NR-title h3 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.6px;
    }
    .NR-title a.Gbutton {
        font-size: 14px;
        height: 40px;
        width: 130px;
        line-height: 40px;
        letter-spacing: -0.1px;
        padding: 0 0px 0 0px;
    }
    .NR-title {
        min-height: 40px;
        margin: 0 0 16px 0;
    }
    .chart-tbox2 h3 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
    }
    .inner-CB-box {
        min-height: 246px;
    }
    .about-chart-section {
        padding: 0 0 64px 0;
    }
    .h-our-service-section .container {
        padding: 16px;
    }
    .inner-container-box {
        padding: 16px;
        border-radius: 32px;
    }
    .LEFT-list {
        width: 100%;
        padding: 32px 16px 0 16px;
    }
    .NR-content {
        width: 30.4%;
        padding: 16px;
        min-height: 370px;
    }
    .NR-content a p {
        font-size: 20px;
        margin: 0;
        padding: 6px 0 10px 0;
        letter-spacing: -0.4px;
        min-height: 170px;
        line-height: 28px;
    }
    section.Green-future-section {
        margin: 0;
    }
    .Left-content {
        width:97%;
        float: left;
        padding-bottom: 310px;
    }
    .Green-future-section .container1 {
        border-radius: 32px;
    }
    .Left-content h2,
    .Left-content h2 span.gradient-font {
        font-size: 60px;
        line-height: 74px;
        margin-top: 0;
        letter-spacing: -1.8px;
    }
    .Left-content h2 {
        padding-right: 14px;
    }
    .Left-content p {
        width: 100%;
    }
    .Gbutton {
        width: 144px;
        height: 40px;
        line-height: 40px;
        letter-spacing: -0.1px;
        padding: 0 0px 0 12px;
    }
    .Right-content.mobi {
        display: block;
        width: 100%;
        position: absolute;
        bottom: -7px;
    }
    .Right-content.mobi img.earth-image {
        position: relative;
        width: 100%;
        transform: scale(1);
        left: -7%;
    }
    .inner-green-section {
        padding: 48px 32px 0 32px;
        border-radius: 32px;
        position: relative;
    }
    .video-txt h1 {
        font-size: 44px;
    }
   
    .WT-footer-textarea {
        border-radius: 32px;
    }
    .brand-video-area .video-container {
        height: 360px;
        border-radius: 32px;
    }
    .h-our-service-info-div.tab-content.resp-tab-content {
        width: 100%;
        padding: 0;
    }
    .h-our-service-info {
        width: 100%;
        display: inline-block;
    }
    .h-our-service-info-div.tab-content.resp-tab-content .pin-spacer {
        width: 100% !important;
    }
    .h-our-service-info-title {
        width: 100% !important;
        max-width: 100% !important;
        max-height: 450px !important;
    }
    .h-our-service-info-title img {
        height: auto;
    }
    section.Circle-tabs-section {
        padding: 48px 0 0 0;        top: 0px;
    }
  }
  
@media only screen and (min-width: 1024px)  and (max-height: 1366px)  and (orientation: portrait)  and (-webkit-min-device-pixel-ratio: 1.5) {
    span.borderL {
        left: 70px;
    }
    span.borderR {
        right: 70px;
    }
    .EFE-Midd-area {
        width: 40%;
        top: -14px;
    }
    .EFE-Left-area {
        width: 286px;
        border-radius: 0px 32px 32px 0px;
    }
    .EFE-Midd-area .EFE-content {
        padding: 0 42px;
    }
    .container .EFE-Left-area .EFE-content {
        padding-left: 18px;
    }
    .EFE-Right-area {
        width: 286px;
        border-radius: 32px 0px 0px 32px;
    }
    .top-path {
        left: 212px;
        top: -27%;
    }
    .bottom-path {
        right: 23.9%;
        bottom: -27%;
    }
    .banner-right-path {
        right: -60px;transform: translate(87%, 36%);
    }
    .mar-R {
        margin-right: 85px;
    }
/* ----------SAF PAGE-------------- */
.browse-solutions .solutions-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.solution_btn_section span.solution-txt {
    width: 81%;
}

/* --------------About Us---------------- */
.leader_name_designation {
    width: 275px;
}

}

  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    html {
        overflow-x: hidden;
      }
      .bottom-path {
        right: 230px;
    }
    .h-our-service-info {
        width: 100%;
        display: inline-block;
    }
    span.borderL {
        left:70px;
    }
    span.borderR {
        right: 70px;
    }
    .top-path {
        left: 233px;
    }
    .bottom-path {
        right: 230px;
    }
    .mask.desk {
        display: block;
        text-align: center;
    }
    .NR-content a p {
        min-height: 132px;
    }
    .Left-content {
        padding-bottom: 390px;
    }
    
    .EFE-Midd-area {
        width: 31%;
    }
    .h-our-service-info-div.tab-content.resp-tab-content {
        width: 100%;
    }
    .h-our-service-info-div.tab-content.resp-tab-content .pin-spacer {
        width: 100% !important;
    }
    .h-our-service-info-title {
        border-radius: 32px;
        width: 100% !important;
        max-width: 100% !important;
        height: 667px !important;
        max-height: 667px !important;
    }
    .h-our-service-info-title img {
        width: 100%;
    }
    .EFE-Midd-area {
        width: 38%;
    }
    .EFE-Midd-area .EFE-content {
        padding: 0 36px;
    }
    .EFE-Left-area {
        width: 300px;
    }
    .container .EFE-Left-area .EFE-content {
        padding-left: 20px;
    }
    .EFE-Right-area {
        width: 300px;
    }
    .EFE-Right-area .EFE-content {
        padding-left: 20px;
    }
    .EFE-content {
        min-height: 130px;
    }
    .mar-R {
        margin-right: 88px;
    }
/* ----------SAF PAGE-------------- */
.browse-solutions .solutions-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .saf_page section.headersection {
        min-height: 70px;
    }
    .banner-textarea h2 {
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -1.2px;
    }
    .imagerevealRight img.desk-b{
        display: none;
    }
    .imagerevealRight img.mobi-b{
        display: none;
    }
    .imagerevealRight img.ipad-b{
        display: block;
    }
    .banner-right-path .desk-b,
    .banner-right-path .mobi-b{
        display: none;
    }
    .banner-right-path .ipad-b{
        display: block;
    }
    .banner-left-path {
        top: -79px;
        left: -7px;
    }
    /* .banner-right-path::after,
    .banner-right-path{
        display: none;
    } */
    .banner-right-path {
        top: 17%;
        transform: translate(82%, 36%);
        right: -19px;
    }
    .banner-textarea {
        padding: 50px 0 0 0;
        overflow-x: hidden;
    }
    .footer-col-1 {
        width: 37%;
    }
    .footer-col-2 {
        width: 41%;
    }
    .footer-col-3 {
        width: 57%;
    }
    .EFE-video-area .video-container {
        height: 434px !important;
        border-radius: 32px;
    }
    .midd-footer {
        width: 100%;
    }
   
    .bottom-footer .inner-container2 {
        padding: 0 0px;
    }
    .footer-col-1 {
        width: 35%;
    }
    .footer-col-2 {
        width:51%;
        padding-left: 0;
    }
    .footer-col-3 {
        width: 48%;
    }
    .count-box {
        margin:0 14px;
    }
    .WB-footer-textarea li {
        float: none;
        display: inline-block;
    }
    .footer-section .inner-container-space {
        padding: 0px 16px 16px 16px;
    }
    .footer-section {
        margin-bottom: 0;
        
    }

    h2.ab_hero_title.ab_width {
        width: auto;
    }
    /* -------SAF PAGE --------- */
    .item_saf img.ss-mobile-show {
        display: none;
    }
    .item_saf img.ss-desk-show {
        display: block;
    }
    .benefits-cards .card:first-child {
        margin-left: 0;
    }
    .benefits-cards.four_box .card:nth-child(2) {
        margin-right: 0;
    }
    .benefits-cards.four_box .card:nth-child(3) {
        margin-left: 0;
    }
    .benefits-cards.four_box .card {
        width:42.5%;        margin-bottom: 20px;
    }
    .benefits-cards.four_box .card p {
        max-width: 245px;
    }
    .benefits-cards .card:last-child {
        margin-right: 0;
    }
    .benefits-cards {
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex-direction: unset;
        display: inline-block;
        float: left;
    }
    .benefits-cards .card {
        border-radius: 32px;
        width: 25.1%;
        float: left;
        margin: 0 12.8px;
        padding: 32px 20px;
    }
    .benefits-section {
        padding: 40px 0 40px 0;
    }
    .card h3 {
        line-height: 28px;
        font-size: 20px;
        letter-spacing: -0.2px;
    }
    .card p {
        line-height: 20px;
        font-size: 14px;
        letter-spacing: -0.2px;
        margin-top: 5px;
        max-width: 155px;
    }
    .Left_cta_section {
        width: 460px;
    }
    .cta_title {
        letter-spacing: -0.7px;
        font-size: 30px;
        line-height: 38px;
    }
    .partner-img {
        bottom: -52px;
        width: 72%;
    }
    .os_paragraph {
        font-size: 16px;
        line-height: 20px;
    }
    .partner-btn .contact-bg {
        margin: 0 auto;
        border-radius: 132px 100px 100px 0px;
        flex-grow: 0;
        border: 0 none;
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: -0.2px;
        height: 48px;
        width: 120px;
        position: relative;
        display: inline-block;
        text-align: center;
        line-height: 48px;
        padding: 0 18px 0 28px;
        background: linear-gradient(92.86deg, #5F8AC7 0%, #5F8AC7 17.53%, #78A293 48.78%, #99C152 82%, #A6CE39 100%);
    }
    
/* --------------------About Us-------------- */
    .leader_name_designation {
        width: 90%;
    }
    .popup-content {
        width: 80%;
        height: auto;
    }
    .inner_popups {
        display: flex;
    }
    .person_name {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -1.6px;
    }
    .close-popup {
        top: 2px;
        right: 2px;
    }
    .ab_hero_title {
        font-size: 36px;
        line-height: 45px;
        width: auto;
    }
    .item_content {
        padding: 5rem 0;
    }
/* ------------------Our Solution--------- */
.Right_solution_area img {
    border-radius: 24px;
    width: 300px;
}
.solution_box {
    gap: 20px;
    margin: 30px 0;
}
.mobi-show {
    display: none;
}
.inn_content h3 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.3px;
}
.inn_content p {
    font-size: 16px;
    line-height: 24px;
    margin: 13px 0;
}
.solution_cta_section .Left_cta_section {
    width: 430px;
}
.solution_cta_section img.partner-img {
    width: 75%;
    right: -70px;
}
.call_to_action_section {   
    border-radius: 32px;
    padding: 32px 0;
}
.solution_cta_section img.partner-img {
    width: 75%;
    right: -70px;
    bottom: -41px;
}
.solution_navigation a {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.5px;
    margin: 0 3px;
    padding: 9px 8px;
}
.solution_navigation .inner-container2 {
    padding: 0 0px;
}
.solution_navigation.fixed .inner-container2 {
    padding: 0 32px;
}

/*-----------------Market -------------------- */
.left_industries,
.right_indutries {
    width: 47%;
}
section.industries-section.geographics_section {
    padding: 40px 0 40px 0;
}
.market_geo_section .our-solution-section {
    padding: 2px 80px 50px 80px;
}
/* ----------------Industries PAGE------------ */
.inner-container2.fixed-side-bar {
    display: none;
}
.industries_info_section {
    margin: 40px 0;
}
.key_benifit_section {
    margin-bottom: 30px;
    gap: 20px;
}
.KB_title {
    width: 40%;
    gap: 12px;
}
.midd_industries_area {
    gap: 40px;
    padding: 20px 0;
}
.third_title {
    font-size: 35px;
    line-height: 50px;
}

/* -------------------Geographies--------------- */
.geographies_cta_section .Left_cta_section {
    width: 450px;
    text-align: left;
}
.geographies_cta_section img.partner-img {
    bottom: -47px;
    width: 530px;
}
.geographies_about_area {
    margin: 0 0 20px 0;
}
.inn_geographies {
    display: inline-block;
}
.Left_gab_sec {
    width: 100%;
}
.Right_gab_sec {
    width: 100%;
    text-align: center;
    margin-top:20px;
}

/* ----------------Contact Us-------------------- */
section.contact_us_section {
    padding: 10px 0 100px 0;
}
.Left_contact h3 {
    font-size: 28px;
    line-height: 35px;
}
.mail_text a {
    font-size: 18px;
    line-height: 24px;
}
form {
    width:340px;
}
.Right_contact {
    width: 50%;
    padding: 20px;
}
.Left_contact {
    width: 37.6%;
}
.Right_contact .inner-container-space {
    padding: 0;
}
button.common_btn {
    width: 170px;
}
/* ----------------------Contact Us------------------- */
form {
    width: 100%;
}
.form_div {
    width: 96%;
}
input {
    width: 83%;
}
textarea {
    width: 96%;
}
.Left_contact p {
    font-size: 16px;
    line-height: 20px;
    padding: 16px 0 46px 0;
}
/* -------------Newsroom------------ */
.grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}
.card .card-body p {
    font-size: 18px;
    line-height: 24px;
    max-width:100%;
}
.card {
    margin-bottom: 25px;
}
.card .newsroom_video_icons {
    opacity: 1;
}
.newsroom_title_section {
    padding: 30px 0 54px 0;
}
section.partnership-section.solution_cta_section {
    top: -40px;
}

}

@media (max-width:920px) {
    .h-our-service-info-div.tab-content.resp-tab-content {
        width: 100%;
    }
    .h-our-service-info-div.tab-content.resp-tab-content .pin-spacer {
        width: 100% !important;
    }
    .LEFT-list {
        width: 100%;
        /* padding: 32px 16px 16px 16px; */
        padding: 32px 0px 16px 16px;
    }
    .mask img{
        width: 100%;
    }
    .midd-footer {
        width: 100%;
    }
    footer .foot-col-1, footer .foot-col-3, footer .foot-col-4, footer .foot-col-5 {
        padding-left: 0;
    }
    .mar-R {
        margin-right: 25px;
    }
    /* -------SAF PAGE----------- */
    .browse-solutions .solutions-grid {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
    .Left_cta_section {
        width: 400px;
    }


}
@media screen and (max-width:767px){
    .contact-bg:hover span.arrow2 {
        transform: translate(4px, 3px);
    }
    html.lenis {
        overflow-x: hidden;
    }
.container {
    padding: 0 16px;
}
.video-wrapper {
.black_bg {
    background-position: bottom;
}

}

.Home-banner-section {
    height: 100vh;
}
.Essar-future-energy-section .container {
    padding: 0 16px;
}
.footer-section .inner-container-space {
    padding-left: 0;
    padding-right: 0;
}
.Ellipse svg {
    display: none;
}
.inner-container2 {
    padding: 0px 0px;
}
.banner-right-path .desk-b,
.banner-right-path .ipad-b{
    display: none;
}
.banner-right-path .mobi-b{
    display: block;
}

.center {
    position: relative;
    top: 0;
    transform: translate(0px, 0px);
    left: 0;
    /* box-shadow: 11px 0px 16px rgba(0, 0, 0, 0.2); */
    width: 100%;
    padding: 0;
    border-radius: 34px 34px 0px 0px;
}
.banner-textarea h2 {
    display: none;
}
h2.mobile-banner {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.7px;
    display: block;
    width: 275px;
}
.imagerevealLeft img.desk-b,
.imagerevealRight img.desk-b{
    display: none;
}
.imagerevealLeft img.mobi-b,
.imagerevealRight img.mobi-b{
    display: block;
}
.imagerevealRight img.ipad-b,
.imagerevealLeft img.ipad-b{
    display: none;
}
.banner-right-path {
    right: -123%;
    top: 104px;
    transform: translate(-50%, -15%);
}
.banner-left-path {
    top: -81px;
    left: 0;
}
.ab-img-right {
    position: absolute;
    right: 0;
    bottom: -60px;
}
.video-wrapper {
    height: 100%;
}
.banner-textarea {
    bottom: 80px;
    overflow: hidden;
    padding: 50px 0 0 0;
}

.banner-textarea h2.left-path::before {
    left: -32%;
    display: none;
}
.banner-textarea h2.right-path::after {
    right: -385px;
    top: -26px;
    display: none;
}
.paragraph {
    width: 100%;
}
.story-button {
    width: 100%;
}
.banner-textarea p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    letter-spacing: -0.1px;
}
.para-button-area {
    display: inline-block;
    align-items: center;
    margin-top: 0px;
}

.para-button-area a {
    font-size: 13px;
    float: left;
    width: 124px;
    height: 40px;
    line-height: 40px;
    letter-spacing: -0.1px;
}

.black_bg {
    height: 100vh;
}
    .container-space {
        padding-left: 10px;
        padding-right: 10px;
    }
    .Our-solution-section .container-space {
        padding-left: 0px;
        padding-right: 0px;
    }
    .top-ab-area {
        padding: 28px 0px;
        position: relative;
    }
    .left-tbp-area, .right-tbp-area {
        width: 100%;
        margin-right: 0;
    }

    .left-tbp-area .ab-paragraph {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
    }
    .right-tbp-area p {
        font-size: 16px;
        line-height: 24px;
        padding-left: 0px;
        margin-top: 20px;
        padding-right: 34px;
    }
    .ab-img-right img.layer {
        width: 110px;
    }
    .count-box {
        width: 47%;
        margin: 0 10px;
        margin-bottom: 0px;
    }   
    .count-box:nth-child(2),
    .count-box:nth-child(4){
        margin-right: 0;
    }
    .count-box:nth-child(3){
        margin-left: 0;
        margin-bottom: 0;
    }
    .count-box:nth-child(4){
        margin-bottom: 0;
    }
    .inner-CB-box {
        min-height: 162px;
    }
    /* .scrolled {
        margin: 173px 0 -80px 0;
    } */
    .chart-tbox h3 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        margin: 0;
        letter-spacing: -0.5px;
    }
    .chart-tbox2 h3 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        margin: 0;
        letter-spacing: -0.5px;
    }
    .chart-txt {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 11px 0px 11px;
        letter-spacing: -0.1px;
        min-height: 80px;
    }
    .scrolled {
        margin-top: 64px;
    }
    .WEF-title {
        position: relative;
        margin-bottom: 32px;
    }
    .WEF-title h3 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.6px;
        padding-right: 30px;
    }
    .h-our-service-section .container {
        padding: 12px;
    }
    .inner-container-box {
        padding: 16px 16px 9px 16px;
    }
    .why-essar-enery-section .inner-container-box {
        border-radius: 24px;
    }
    .h-our-service-info-title img {
        border-radius: 16px;
    }
    .h-our-service-info-title {
        border-radius: 16px;
    }
    .h-our-service-section .container-space {
        padding: 10px 15px 0 15px;
        border-radius:24px;
    }
    .why-essar-enery-tab li:first-child {
        margin-top: 0;
    }
    .why-essar-enery-tab {
        width: 100%;
        display: block;
    }
    .why-essar-enery-tab li {
        width: 100%;
        padding: 0 0 16px 0;
        margin: 0 0 16px 0;
    }
    .h-our-service-info {
        width: 100%;
    }
    .why-essar-enery-tab .WE-img {
        width: 100%;
    }
    .why-essar-enery-tab .WE-txt {
        margin-left: 0;
        padding-top: 10px;
        width: 100%;
    }
    .why-essar-enery-tab .WE-txt span {
        margin-left: 60px;
    }
   
    .WE-title h3 {
        font-size: 18px;
        color: #374151;
        line-height: 24px;
        letter-spacing: -0.4px;
    }
        .LEFT-list {
        padding: 32px 0px 0px 0px;
    }
    .accordion-item:last-child {
    margin: 0 0 0px 0;
}
    .accordion-content p {
        font-size: 16px;
        line-height: 24px;
    }
    .video-container {
        border-radius: 24px;
    }
    .about-chart-section {
        padding: 40px 0 40px 0;
    }
    .count-box:first-child {
        margin-left: 0;
    }
    .count-box:nth-child(4) {
        margin-right: 0;
    }
    .inn-padd {
        padding: 15px 7px;
    }
    .midd-area {
        padding:0px 0 0 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 100%;
    }
    .video-txt {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        width: 100%;
    }
    .EFE-video-area .video-txt {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        min-height: 100%;
    }
    .EFE-Left-area {
        width: 80%;
        padding: 20px 0px 20px 40px;
        border-radius: 0px 32px 32px 0px;
    }
    .EFE-Midd-area {
        position: relative;
        top: 0;
        width: 100%;
        margin-top: 0px;
    }
    .EFE-Right-area {
        width:80%;
        padding: 20px 0px 20px 40px;
        position: relative;
        right: 0;
        top: 0;
        float: right;
        border-radius:32px 0px 0px 32px;
    }
    .mobi-top-path, .mobi-bottom-path {
        display: block;
    }
    .mobi-bottom-path {
        margin-bottom: 8px;
    }
    .mobi-top-path {
        margin-top: 8px;
        margin-bottom: 6px;
    }
    .EFE-content h4 {
        font-size: 24px;
        line-height: 32px;
    }
    .EFE-content p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.1px;
    }
    .EFE-Left-area .EFE-content p {
        padding: 8px 0px 0 0;
        width: 255px;
    }
    .EFE-Right-area .EFE-content p {
        padding: 8px 0 0 0;
        width: 255px;
    }
    .EFE-Midd-area .EFE-content p {
        width: 100%;
        padding: 8px 0px 10px 0px;
    }
    .EFE-content {
        min-height: auto;
    }
    .container .EFE-Left-area .EFE-content {
        padding-left: 0px;
    }
    .EFE-Right-area .EFE-content {
        padding-left: 0px;
    }
    .CEC-title {
        font-size: 12px;
        line-height: 18px;
    }
    /* .half-circle-txt::after {
        background: url(../images/mobile-path.png) repeat-x;
        content: "";
        width: 72%;
        position: absolute;
        left: 50%;
        height: 20px;
        top: 12%;
        transform: translate(-50%, 13px);
    } */
    .half-circle-txt .item::after {
        background: url(../images/mobile-path.png) repeat-x;
        content: "";
        width: 29px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(57%, -81%);
        height: 4px;
    }
    .half-circle-txt .item:last-child:after {
       display: none;
    }
    .h-our-service-info-div.tab-content.resp-tab-content {
        width: 100%;
        float: left;
    }
    .h-our-service-info-div.tab-content.resp-tab-content .pin-spacer {
        width: 100% !important;
        height: 100% !important;
    }
    .EFE-Midd-area .EFE-content h4 {
        font-size: 36px;
        line-height: 44px;
    }
    .EFE-Midd-area p {
        font-size: 16px;
        padding: 0px 0px 0 0px;
        line-height: 24px;
    }
    .EFE-Midd-area .EFE-content {
        padding:0px 20px;
    }
    .video-container {
        height: 70vh;
        min-height: 800px;
    }
    .EFE-video-area .video-container {
        border-radius: 24px;
    }
    .EFE-Midd-area .EFE-content h4 {
        padding: 1px 10px 10px 10px;
    }
    section.Circle-tabs-section {
        padding:40px 0 0px 0;
        position: relative;
    }
    .top-OS-title-area h3 {
        font-size: 28px;
        line-height: 36px;
        padding: 0 0%;
        letter-spacing: -0.6px;
    }
    .top-OS-title-area p {
        padding:12px 0 15px 0;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin: 0;
    }
    .our-solution-btn {
        width: 105px;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        letter-spacing: -0.1px;
    }
    .item {
        position: relative;
        display: inline-block;
        width: auto;
        margin: 0 15px;
        background: transparent;
    }
    .item1, .item2, .item3, .item4, .item5{
        top: 0;
        left: 0;
        padding: 0;
        margin-top: 8px;
    }
    .number-txt img {
        width: 24px;
    }
    .number-txt {
        width: 28px;
        height: 28px;
        position: relative;
        display: inline-block;
    }
    span.title-txt {
        display: none;
    }
    .half-circle-txt {
        text-align: center;
    }
    .circle-section {
        min-height: auto;
        z-index: 5;
        padding: 19px 0 0 0;
    }
    .Gbutton-box {
        padding: 0px 20px;
    }
    .center h2{
        
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
    }
    .center {
        padding-bottom: 40px;
        min-height: 250px;
        margin-top: 70px;
        border-radius: 48px 48px 0 0px;
    }
    .center .inner-center-area h2 {
        padding: 0 30px 10px 30px;
    }
    .center .inner-center-area{
        padding: 64px 16px 0 16px;
    }
    .mask.desk {
        display: none;
    }
    .mask.mobi {
        display: block;
        width: 100%;
        bottom: -27%;
    }
    .center p{
        /* padding:0px 50px; */
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-top:0;
    }
    .brand-video-area {
        padding: 10px 0 40px 0;
        margin: 0;
    }
    .video-txt h1 {
        font-size: 36px;
    }
    .brand-video-area .video-container {
        height: 200px;
        min-height: auto;
        border-radius: 24px;
    }
    .top-OS-title-area {
        /* margin-top: 40px; */
    }
    .video-txt .mobi-top-path img,
    .video-txt .mobi-bottom-path img {
        width: auto;
    }
    .video-txt img {
        width: 65px;
    }
    .brand-video-area .video-txt {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        width: 100%;
    }
 
    span.borderL {
        left: 50%;
        top: -42px;
        transform: translate(-50%, -50%);
        transform-origin: unset;
        background: url(../images/bv-mobi.png) no-repeat;
        height: 54px;
        width: 12px;
    }
    span.borderR {
        left: 50%;
        top: 108px;
        transform: translate(-50%, -50%);
        transform-origin: unset;
        background: url(../images/bv-mobi-b.png) no-repeat;
        height: 54px;
        width: 12px;
        /* bottom: 50%; */
    }
    .NR-content:hover {
        border-radius: 16px;
    }
    .video-txt span.borderL::before,
    .video-txt span.borderR::before  {
        width: 10px;
        height: 10px;
    }
    .video-txt span.borderL::before {
        right: -15px;
        top: -5px;
    }
    .video-txt span.borderR::before  {
        left: -10px;
        top: -5px;
    }

    .NR-content {
        width: 100%;
        margin: 0 0px 10px 0px;
        padding: 0px;
        min-height: auto;
    }
    .INR-content{
        padding: 12px;
    }
    .blog-img {
        padding: 0 ;
        border-radius: 16px;
        width: 100% !important;
    }
    .NR-content a p {
        font-size: 18px;
        line-height: 24px;
        padding:12px 0px 25px 0;
        min-height: auto;
        letter-spacing: -0.4px;
        margin: 0;
    }
    .bloger-name {
        padding: 0;
        line-height: 24px;
    }
    .NR-content a span {
        font-size: 12px;
    }
    .fr img {
        width: 24px;
    }
    .NR-title h3 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.6px;
    }
    section.Green-future-section {
        margin: 12px 0 20px 0;
    }
    .Left-content {
        width: 100%;
        padding-bottom: 194px;
    }
    .Left-content h2,
    .Left-content h2 span.gradient-font {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.7px;
        margin-top: 0;
    }
    .Left-content p {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        letter-spacing: -0.1px;
        padding: 12px 0;
    }
    .Green-future-section .container1 {
        border-radius: 24px;
    }
    section.NewsRoom-section {
        margin-top: 0px;
        padding: 8px 0 8px 0;
        
    }
    .NR-title {
        min-height: 40px;
    }
    .NR-list-area {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .NR-content .pin-spacer {
        width: 100% !important;
    }
    footer .foot-col-1, footer .foot-col-3, footer .foot-col-4, footer .foot-col-5 {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    footer .foot-col-2 {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .foot-col-4 li, .foot-col-1 li, .foot-col-5 li {
        margin: 0px 0 0 0;
    }
    .foot-col-4 a, .foot-col-1 a, .foot-col-5 a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: -0.2px;
    }
    .WB-footer-textarea {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .inner-green-section {
        border-radius: 24px;
    }
    .WT-footer-textarea {
        border-radius: 24px;
    }
    .footer-section {
        margin-bottom: 16px;
    }
    .footer-col-1 {
        font-size: 14px;
        padding-left: 0;
        letter-spacing: -0.1px;
    }
    .footer-col-1, .footer-col-3 {
        width: 100%;
    }
    .footer-col-2 {
        width: 100%;
        padding-left: 0;
    }
 
    .footer-col-3 span.design-by {
        font-size: 12px;
        float: none;
        display: block;
    }
    .footer-col-2.mobi{
        display: block;
    }
    .footer-col-2.desktop{
        display: none;
    }
    .WB-footer-textarea li {
        list-style: none;
        float: none;
        display: inline-block;
    }
    .footer-col-1 {
        margin: 20px 0;
    }
    .WB-footer-textarea .footer-col-3 a {
        font-size: 12px;
        display: inline-block;
    }
    .WT-footer-textarea {
        padding: 16px;
    }
    .top-footer img {
        width: 113px;
    }
    .top-footer {
        margin-bottom: 16px;
    }
    .foot-col-3 h3,
    .foot-col-2 h3 {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        padding: 0px 0 6px 0;
        letter-spacing: -0.2px;
    }
    .foot-page-links a {
        font-size: 14px;
        letter-spacing: -0.1px;
        line-height: 20px;
    }
    .foot-col-4.mar-R a,
    .foot-col-5 a,
    .foot-col-1.mar-R a{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }
    .foot-col-3, .foot-col-2, .foot-col-4, .foot-col-5 {
        padding: 16px 0 0px 0;
    }
    .foot-page-links li {
        padding: 0px 0;
    }
    .bottom-footer {
        padding-top: 24px;
        margin-top: 24px;
    }
    .footer-col-2.mobi {
        line-height: normal;
    }
    .Right-content{
        /* display: none; */
        margin-right: -35px;
    }
    .Right-content img {
        transform: scale(6);
        /* top: -160%; */
        bottom: 147%;        z-index: 0;
    }
    .Right-content.mobi {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .Right-content.mobi img.earth-image {
        position: relative;
        width: 100%;
        transform: scale(1);
        left: 16%;
        top: 6px;
    }
    .inner-green-section {
        position: relative;
        padding: 20px 40px 0px 16px;
    }
    .Gbutton {
        width: 127px;
        height: 40px;
        line-height: 40px;
    }
    .Left-content .Gbutton{
        /* z-index: 5;
        position: relative; */
    }
    /* .Gbutton {
        padding: 11px 22px;
    } */
    .NR-title a.Gbutton {
        font-size: 14px;
        width: 130px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        letter-spacing: -0.1px;
    }
    .Left-content .Gbutton-box {
        padding: 12px 0 0 0;
        z-index: 0;
        position: relative;
    }
    .Left-content span.gradient-font {
        display: block;
    }
    .item h3 {
        opacity: 0.6;
    }
/* ----SAF PAGE--------- */
.item_saf img {
    height: 100%;
    object-fit: cover;
}
.item_saf img.ss-mobile-show {
    display: block;
}
.item_saf img.ss-desk-show {
    display: none;
}
    .our-solution-section {
        padding:50px 16px 50px 16px;
    }
    h2.hero_title {
        font-size: 32px;
        line-height: 43px;
    }
    /* .saf_page section.headersection {
        min-height: 64px;
    } */
    .padding-vertical {
        padding: 0;
    }
    .inner-content-area {
        padding: 0px 20px 0px 20px;
    }
    .benefits-cards .card {
        width: 76%;
    }
    .benefits-cards.four_box .card {
        width: 76%;
    }
    .Left_cta_section,
    .solution_cta_section .Left_cta_section,
    .geographies_cta_section .Left_cta_section {
        width: 100%;
    }
    
    .benefits-section {
        padding: 50px 0 50px 0;
    }
    .partnership-section .inner-container2 {
        padding: 0 20px;
    }
    .cta_title {
        letter-spacing: -0.6px;
        font-size: 26px;
        line-height: 30px;
    }
    .partner-btn .contact-bg {
        margin: 0 auto;
        border-radius: 132px 100px 100px 0px;
        flex-grow: 0;
        border: 0 none;
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: -0.2px;
        height: 48px;
        width: 120px;
        position: relative;
        display: inline-block;
        text-align: center;
        line-height: 48px;
        padding: 0 18px 0 28px;
        background: linear-gradient(92.86deg, #5F8AC7 0%, #5F8AC7 17.53%, #78A293 48.78%, #99C152 82%, #A6CE39 100%);
    }
    .os_paragraph {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: -0.2px;
    }
    .partner-img {
        bottom: -52px;
        right: -9px;
        width: 70%;
        display: none;
    }
    .partnership-section .container {
        padding: 0 16px;
        overflow: hidden;
    }
    section.browse-solutions {
        padding: 25px 0 0 0;
    }
    .solution_btn_section span.solution-txt {
        padding-right: 20px;
    }
    .solution_btn_section {
        min-height: auto;
    }

/* --------------About US-------------- */
    .vision-section .inner-content-area {
        padding: 0px 16px 0px 16px;
    }
    .call_to_action_section {
        border-radius: 24px;
        padding: 35px 0;
    }
    .ab_hero_title {
        font-size: 32px;
        letter-spacing: -0.6px;
        line-height: 38px;
        width: 100%;
    }
    h2.ab_hero_title.ab_width {
        width: auto;
    }
    .leadership {
        margin:40px 0 0 0;
    }
    .leader_name_designation {
        width: 90%;
    }
    .popup-content {
        padding: 20px;
        border-radius:24px 24px 0px 0px;
        width: 90%;
        height: 80%;
        overflow-y: scroll;
    }
    .Left_leaderimg {
        width: auto;
        text-align: left;
    }
    .Left_leaderimg img {
        width: 200px;
    }
    .Right_leadertext {
        width: 100%;
        padding-left: 0px;
    }
    .mobi-close{
        display: block;
    }
    .desk-close{
        display: none;
    }
    .close-popup {
        top: 13px;
        right: 20px;
    }
    .close-popup img {
        width: 15px;
    }
    .person_name {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.8px;
    }
    .Right_leadertext p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .Right_leadertext h3 {
        margin: 10px 0 6px 0;
    }
    .leadership .inner-container2 {
        padding: 0 16px;
    }
/* ------------------Our Solution---------------- */
.innovation_hero_bg {
    padding: 40px 0 0 0;
}
.innovation_hero_bg img {
    border-radius: 18px;
}
.innovation_bg .innovation_hero_bg.Martop100 {
    margin-top: 50px;
}
.right_inno_text {
    width: 100%;
    padding-left: 0;
}
.left_innovation {
    width: 100%;
}
.left_innovation h2 {
    margin: 10px 0 10px 0;
    font-size: 35px;
    line-height: 44px;
}
.innovation_cutting_edge {
    padding: 30px 0px 30px 0px;
}
.strategic_advantage_title h3 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
}
.solution_navigation.fixed,
.side-bar,
.solution_navigation{
    display: none;
}

body.solution-fixed .headersection {
    display: block;
}
.solution_box {
    display: inline-block;
    gap: 0;
    margin:16px 0 0 0;
    width: 100%;
}
.Right_solution_area img {
    border-radius: 24px;
    width: 100%;
}
.mobi-hide {
    display: none;
}
.mobi-show {
    display: block;
}
.main-content {
    margin-top: 0;
}
.inn_content h3 {
    font-size: 30px;
    line-height: 40px;
}
.inn_content p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 12px 0 0 0;
}

/* ------------------Market Page---------------- */
.left_industries,
.right_indutries {
    width: 100%;
}

.inner_overflow, .inner_overflow2 {
    border-radius: 24px;
}
.inner_industries_container {
    padding: 0 15px;
}
.market_geo_section .our-solution-section {
    padding: 32px 0px 40px 0;
}
.inner_industries_container img {
    border-radius: 24px;
}
.inner_heading_title {
    font-size: 35px;
    line-height: 44px;
}
.left_industries .ab-paragraph p, .right_indutries p {
    font-size: 16px;
    line-height: 20px;
}
section.industries-section.geographics_section {
    padding: 30px 0 30px 0;
}
.geographics_section .inner_industries_container {
    padding: 0 0px;
}
/* -------Industries--------------------- */
.industries_info_section {
    margin: 10px 0;
    width: 100%;
}
.third_title {
    font-size: 28px;
    line-height: 32px;
}
.indutries_infomation .inner-container2 {
    padding: 0 16px;
}
.midd_industries_area {
    display: inline-block;
    gap: 0px;
    padding: 15px 0;
}
.Left_industries_area,
.Right_industries_area {
    width: 100%;
}
.Right_industries_area {
    margin-top: 18px;
}
.CS_title {
    font-size: 22px;
    line-height: 30px;
}
.challeage_title img {
    width: 28px;
}
.inn_pro_info {
    display: flex;
}
.key_benifit_section {
    background: linear-gradient(90deg, rgba(70, 151, 250, 0.2) -0.15%, rgba(174, 217, 61, 0.2) 59.62%), #FFFFFF;
    border-radius: 24px;
    padding: 20px 24px;
    display: inline-block;
    gap: 0px;
    align-items: flex-start;
    margin-bottom: 36px;
}
.KB_title,
.KB_info {
    width: 100%;
}
.KB_info p {
    font-size: 16px;
    line-height: 22px;
    margin: 8px 0 0 0;
}
.inn_pro_info .RSM .sm_info {
    margin-left: 8px;
    display: inline-block;
    margin: 0 0 8px 8px;
}
/* ------------------Geographies Page----------------------- */
.geographies-section {
    padding: 32px 20px 80px 20px;
}
.inn_geographies {
    display: inline-block;
}
.Left_gab_sec,
.Right_gab_sec {
    width: 100%;
}
.Left_gab_sec p {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
}
.Right_gab_sec video {
    width: 100%;
    border-radius: 28px;
    height: 370px;
}
.Right_gab_sec {
    margin-top: 20px;
}
.geographies_about_area {
    margin: 0 0 40px 0;
}
.geographies_cta_section img.partner-img {
    bottom: -57px;
    width: 240px;
    right: -9px;
}
.partner-btn .contact-bg {
    z-index: 5;
}
/* ----------------Contact Us---------------- */
.saf_page section.headersection {
    min-height: 70px;
}
section.contact_us_section {
    top: 0;
    padding:15px 0 30px 0;
}
.inner_contact_us {
    width: 100%;
}
.Left_contact {
    width: 100%;
}
form {
    width: auto;
    display: inline-block;
    padding: 0px;
    border-radius: 24px;
}
.row {
    display: inline-block;
    width: 100%;
}
.form_div {
    padding: 0;
    border-radius: 10px;
    border: 0px solid #fff;
    width: 100%;
    margin-bottom: 15px;
}
input, textarea {
    background: #fff;
    /* border: 0; */
    width: 92%;
}
.Left_contact p {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 20px 0 20px 0;
}
.Left_contact h3 {
    font-size: 28px;
    line-height: 35px;
    width: 288px;
}
.Right_contact {
    margin-top: 20px;
    width: 90%;
    padding: 20px;border-radius: 24px;
}
.mail_text a {
    font-size: 21px;
    line-height: 30px;
}
button.common_btn {
    width: 180px;
}

/* ------------------Newsroom Page----------------- */
.card .card-footer img {
    height: auto;
}
.news_tabs {
    width: 100%;    padding: 8px 0;
}

.news_tabs button {
    padding: 6px 10px;
    width: 100px;
    height: 52px;
    font-size: 16px;
    line-height: 22px;
}
.grid {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
.card {
    margin-bottom: 0;
}
.content-section.active {
    margin: 20px 0px 20px 0;
}
.card .newsroom_video_icons {
    opacity: 1;
}
.card-body {
    padding: 15px 0 20px 0;
}
.card-body p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
}

.newsroom_title_section {
    padding: 20px 0 20px 0;
}




}
@media (max-width:370px){
    .count-box {
        width: 46.9%;
    }
    .mask.mobi {
        bottom: -26%;
    }
    .banner-textarea {
        bottom: 74px;
    }
    .newsroom_title_section {
        padding: 30px 0 30px 0px;
    }
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    }
    .news_tabs button {
        padding: 6px 6px;
        width: 92px;
        height: 40px;
        font-size: 14px;
        line-height: 20px;
    }
/* 

.EFE-Midd-area .EFE-content h4 {
    padding: 10px 10px 10px 10px;
}
.EFE-Midd-area {
    margin-top: 0;
}
.midd-area {
    padding: 30px 0 0 0;
}
.ab-img-right img.layer {
    width: 99px;
}
.ab-img-right {
    right: 1px;
}
.item {
    margin: 0 11px;
}
.inner-green-section {

    padding: 24px 40px 0px 40px;
}
.half-circle-txt {
    margin-top: 20px;
}
.Gbutton {
    padding: 10px 20px;
}
.footer-section {
    margin-bottom: 15px;
}
.half-circle-txt::after {
    top: 5%;
} */
}
